 h1{
    font-family: 'Mouse Memoirs', sans-serif;
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    font-size:100px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-image: URL('../imgs/stars.jpg');
    background-color: #113ccf;
}


#classforgallery img{
    width: 300px;
    height: 300px
}



.parallax{
    padding-left:0px;
    padding-right: 0px;
    padding-bottom: 30px;
    height: 380px;
    background-image: URL('../imgs/contactform.jpeg');
    display: block;
    overflow:hidden;
}

.flip-card {
    width: 300px;
    height: 200px;
    text-align: center;
    justify-content: center;
    margin:auto;
    padding-bottom: 1px;

}









div.Me.Through.the.Years.at.Walt.Disney.World{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

#ClassforIndex img, object, embed{
    width: 500px;
    height: 500px;
    overflow: auto;
}

#ClassforIndex{
    background-color: #add8e6;
}


#classforMagicKingdom{
    background-color: #add8e6;
}

#classforAnimalKingdom{
    background-color: #add8e6;
}


#classforHollywoodStudios{
    background-color: #add8e6;
}



:visited{
    color: #113ccf;
    text-decoration: underline;
}

.current{
    color:#add8e6;
    background-color: #113ccf;
    text-transform: uppercase;
    padding: .5px;
}





#ClassforIndex h2{
    font-family: 'Mouse Memoirs', sans-serif;
    color: #113ccf;
    text-align: center;
    padding-bottom: 50px;
    font-size:50px;
}

#classforgallery h2{
    font-family: 'Mouse Memoirs', sans-serif;
    color: #113ccf;
    text-align: center;
    font-size: 100px;
}

#classforgallery h3{
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    font-size: 25px;
    
    color: #add8e6;
}

#classforgallery p{
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    font-size: 25px;
   
    color: #add8e6;
}




div.flip-card{
    border-top: 10px solid #add8e6;
    border-left: 10px solid #add8e6;
    border-bottom: 10px solid #add8e6;
    border-right: 10px solid #add8e6;
    width: 100%;
    height: 100%
}

#classforgallery{
    background-color: #add8e6;
}

#classforgallery h1{
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    font-size: 100px;
}





nav{
    display: flex;
    flex-direction: column;
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}



#classforMagicKingdom p{
   
    color: #000;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    font-family: 'Montagu Slab', serif;

}



#classforMagicKingdom img{
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
    overflow: auto;

}



#classforHollywoodStudios p{
   
    color: #000;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    font-family: 'Montagu Slab', serif;

    
}



#classforHollywoodStudios img{
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
    overflow: auto;

    
}



#classforAnimalKingdom p{
    
    color: #000;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    font-family: 'Montagu Slab', serif;
    
}



a.skip{
    background: rgb(255, 255, 255);
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }



#classforAnimalKingdom img{
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
    overflow: auto;
    
}



#classforEpcot p{
    font-family: 'Montagu Slab', serif;
    color: #fff;
    text-align:center;
    margin: 70px;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
}



#classforEpcot h2{
    font-family: 'Mouse Memoirs', serif;
    color: #113ccf;
    text-align: center;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

#classforEpcot img{
    margin-right: 50px;
    display: block;
    min-height: 200px;
    width: 200px;
    overflow: auto;
    
}

div.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #113ccf;
    
    
    

}

.grid-item{
    border-top: 10px solid #add8e6;
    border-left: 10px solid #add8e6;
    border-bottom: 10px solid #add8e6;
    border-right: 10px solid #add8e6;
    width: 200px;
    
    
    
}



footer{
    border: 2px solid rgb(131, 130, 130);
    font-family: 'Mouse Memoirs', sans-serif;
	margin: 10px 0;
    color: #add8e6;
    background-color: rgb(2, 2, 2);
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 30px;
    
}

@keyframes title_color{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left:0%;
        width: 100%;
    }
}



h1{
    animation-name: title_color;
    animation-duration: 4s;
    animation-iteration-count:initial;
}

b{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;

}

input{
    width: 50%;
    padding: 12px 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 100px;
}

textarea#msg{
    width:50%;
    padding: 12px 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 100px;
}


button{
    font-family: 'Mouse Memoirs', sans-serif;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
}



#classforcontactform{
    background-color: #add8e6;
}




@media screen and (min-width: 768px){





    #ClassforIndex img, object, embed {
        width: 300px;
        height: 300px;



    }
    

    ul.nav-items{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        
        
    }

    div.Me.Through.the.Years.at.Walt.Disney.World{
        display: flex;
        flex-wrap: wrap;
        
        
    }

    #classforMagicKingdom img{
        width: 500px;
        height: 500px;
    
    }

    #classforMagicKingdom p{
   
    
        margin: 50px;
        padding-left: 50px;
        padding-right: 50px;
     
    
    }

    #classforHollywoodStudios p{
   
        
        margin: 50px;
        padding-left: 50px;
        padding-right: 50px;
    
        
    }
    
    
    
    #classforHollywoodStudios img{
        width: 500px;
        height: 500px;
    
        
    }
    

    #classforAnimalKingdom img{
        width: 500px;
        height: 500px;

        
    }

    #classforAnimalKingdom p{
    
      
        margin: 50px;
        padding-left: 50px;
        padding-right: 50px;
    
        
    }
    
    #classforEpcot img{
        min-width: 768px;
        margin-left: 20px;
        margin-right: 15px;
        padding: 20px;
    
        
        
    }

    div.grid-item{
        width: 100%;
        background-color: #113ccf;
        padding: 10px;
    
    
       
    

    }

    #classforEpcot p{
        font-size: 40px;
    }



    div.grid-container{
        display: grid;
        grid-template-columns: auto;
        background-color: #fff;
        align-items: center;
        justify-content: center;
      
       
     
    
    }

    #classforEpcot h2{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    div.Gallery{
        display:grid;
        grid-template-columns: auto;
        
    }
    
    div.flip-card{
        border-top: 10px solid #add8e6;
        border-left: 10px solid #add8e6;
        border-bottom: 10px solid #add8e6;
        border-right: 10px solid #add8e6;
        width: 100%;
        height: 100%
    }

    #classforgallery img{
        width: 400px;
        height: 400px
    }
    
}


@media screen and (min-width: 939px){



    #ClassforIndex img, object, embed {
        width: 500px;
        height: 500px;
        overflow: auto;
        

    }
  
}

@media screen and (min-width: 1000px) {

    div.grid-container{
        display: grid;
        grid-template-rows: inherit;
       grid-template-columns: auto auto;
       
    }

  


   

    #classforMagicKingdom p{
        width: 50%;
        float: right;
        font-size: 20px;

    
    }


  
   
    #ClassforIndex img, object, embed {
        width: 500px;
        height: 500px;
        
       

    }

    #ClassforIndex h2{
        font-size: 50px;
    }
    

    #classforAnimalKingdom img{
        width: 350px;
        height: 350px;
        
     
    }

    #classforAnimalKingdom p{
        width: 50%;
        float: right;
        font-size: 20px;
    }


    #classforMagicKingdom img{
        width: 350px;
        height: 350px;
        

        
    }

    #classforHollywoodStudios p{
        width: 50%;
        float: right;
        font-size: 20px;
    }

    #classforHollywoodStudios img{
        width: 350px;
        height: 350px;

        
    }



    .parallax{
        padding-left: 0px;
        padding-right:0px;
        padding-bottom: 30px;
        background-attachment: fixed;
        background-position: center;
        background-size:cover;
        height:380px;
        background-image: URL('../imgs/contactform.jpeg');
        background-repeat: no-repeat
    }

    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 200px;
        border: 1px solid #f1f1f1;
        text-align: center;
        justify-content: center;
        margin:auto;
        padding-bottom: 1px;
    
    }
    
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    
    
      }
    
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
    
    
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    
      }

  
    
      .flip-card-front {
        background-color: #add8e6;
        color: black;
      }
    
    
      .flip-card-back {
        color: #f1f1f1;
        transform: rotateY(180deg);
        background-color: #113ccf;
        padding-top: 30px;
      }

      #classforgallery h3{
        
        color: #fff;
    }
    
    #classforgallery p{
        
        color: #fff;
    }
    div.flip-card{
        border-top: 10px solid #add8e6;
        border-left: 10px solid #add8e6;
        border-bottom: 10px solid #add8e6;
        border-right: 10px solid #add8e6;
        width: 400px;
        height: 400px;
        
    }

    div.Gallery{
        display: flex;
        flex-wrap: wrap;
        margin:auto;
        justify-content: center;
      

        
    }

    .flip-card img{
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: auto;
    }


}


@media screen and (prefers-reduced-motion: reduce){
    h1{
        animation-name:none;
    }

    .parallax{
        background-attachment: scroll;
    }

     .flip-card:hover .flip-card-inner {
        transform: none;
      }

    


}
    
    







